
<section id="dashboard">

    <table>
        <th>Name</th>
        <th>email</th>
        <th>role</th>
        <tbody>
            <% data.forEach((user) => { %>
            <tr>
                <td><%= user.username%>  </td>
                <td><%= user.email%>  </td>
                <td><%= user.role%>  </td>
                <td><button><a href='/dashboard/delete/user/<%=user._id%>'> Delete</a></button></td>   
                 
            </tr>
           
            <% }) %>
        </tbody>
    </table>

</section>