<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vehicle</title>
</head>
<body>
    <% if (messages.error) { %>
        <span class="text-red-500 text-sm"><%= messages.error %></span>
    
      <% } %>
    <h1>Add YOur Vehicle</h1>
    <form action="/Add" method="post" enctype="multipart/form-data">
        <input type="text" name="VehicleName" placeholder="Enter Vehicle Name" enctype="multipart/form-data"><br>
        <input type="text" name="VehicleType" placeholder="Enter Type of Vehicle eg-Car,Bike">
        <input type="text" name="model" placeholder="Enter Model">
        <input type="text" name="Fuel" placeholder="Enter Fuel Type">
        <input type="text" name="Travelled" placeholder="How much Vehicle is Travelled?">
        <input type="text" name="Mileage" placeholder="Enter Mileage">
            
        <input type="number" name="VehicleNumber" placeholder="Enter Vehicle Number"></br>
        <input type="file" name="image" placeholder="Enter image of Vehicle ">
        <input type="submit" name="submit" value="Add">

    </form>
</body>
</html>