
  <section id="all-rides">
    <p>This page contains list of all vehicles rented by the rider</p>
    <p>If zero vehicles are rented then it will show no rides yet</p>

    <a href="/vehicles-list/all-rides/order-details">Order Details</a>
  </section>