
    <section id="form">
      <div class="form-inputs">
        <h1>Login</h1>

        <p class="error-text">User Not Found!</p>

        <div class="input-effect input-effect2">
        	<!-- <input class="effect-2" id="email" type="email" autocomplete="off" required/> -->
          <input class="effect-2" id="email" type="text" autocomplete="off" required/>
          <label for="email">Email</label>
          <span class="focus-border">
            <i></i>
          </span>
        </div>

        <div class="input-effect input-effect2">
        	<input class="effect-2" id="password" type="password" autocomplete="off" required/>
          <label  for="password">Password</label>
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        
        <button class="btn-submit">
            Login
        </button>
        
        <a class="extra-text" href="/register">New User?</a>

      </div>
    </section>
