
  <section id="payment">
    <form action="/vehicles-list/payment" method="post">
      <div>From this date/time to this date/time</div>
      <div>Bill</div>
      <div>QR Code</div>
      <p>Scan this QR Code to Pay the Bill</p>

      <button class="btn-submit" type="submit">Confirm</button>
    </form>
  </section>
