
    <section id="form">
      <div class="form-inputs">
        <h1 class="mb-3">Register</h1>

        <p class="error-text">Invalid Email Address</p>

        <div class="input-effect input-effect1">
        	<input class="effect-1" id="name" type="name" autocomplete="off" required/>
            <label for="name">Name</label>
            <span class="focus-border"></span>
        </div>

        <div class="input-effect input-effect1">
        	<!-- <input class="effect-1" id="email" type="email" autocomplete="off" required/> -->
          <input class="effect-1" id="email" type="text" autocomplete="off" required/>
            <label for="email">Email</label>
            <span class="focus-border"></span>
        </div>

        <div class="input-effect input-effect1">
        	<input class="effect-1" id="password" type="password" autocomplete="off" required/>
            <label  for="password">Password</label>
            <span class="focus-border"></span>
        </div>
        
        <button class="btn-submit">Register</button>

        <a class="extra-text" href="/login">Already Registered?</a>
      </div>
    </section>